# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Environment variables
.env
.env/

# Jupyter
.ipynb_checkpoints/

# Model files
model/
*.pkl

# Azure ML
.azureml/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
